<div id="allPets">
	{{#each pets}}
	<div class="pet">
		<div class="photo-column">
			<img src=" {{photo}} ">
		</div>

		<div class="info-column">
			<h2> {{name}} <span class="species">({{species}})</span></h2>
		</div>
	</div>
	{{/each}}
</div>