<!DOCTYPE html>
<html lang="en-us">
<head>

  <meta charset="UTF-8">
  <title>PetPals Search</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="jumbotron text-center" style="background: url(../../public/images/palsSearch.jpg) no-repeat !important;">
            <h1 class="display-4">PetPals</h1>
            <hr class="my-4">
            <p class="lead">Search for a Friend</p>
            <hr class="my-4">
              <a href="/add" class="btn btn-dark btn-lg active"><i class="fa fa-paw" aria-hidden="true"></i> Add Pal </a>
              <a href="/" class="btn btn-dark btn-lg active"><i class="fa fa-home" aria-hidden="true"></i> PetPals </a>
            </p> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="input-group">
            <div class="input-group mb-3">
               <div class="input-group-prepend">
                 <select class="custom-select" id="Select">
              <option selected>Choose...</option>
              <option value="Allpets"> All Pets </option>
              <option value="Species"> Species </option>
              <option value="Breed"> Breed </option>
              <option value="Gender"> Gender </option>           
            </select>
              </div>
              <input type="text" class="form-control" placeholder="Search for Pal..." aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" id="subBtn" type="submit"><i class="fa fa-paw" aria-hidden="true"></i> Search </button>
              </div>
            </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
          <strong>Pet Details</strong>
          </div>
          <div class="card-body">
            {{{body}}}
          </div>
      </div>
      </div>
    </div>

  </div>

<!-- Custom Script -->
{{!-- <script src="server.js" type="text/javascript"></script>
 --}}
</body>
</html>
<style type="text/css">
  .jumbotron {
    background: url(../../public/images/palsSearch.jpg) no-repeat !important;
  }
</style>
<script type="text/javascript">
  function search(argument) {
    
  }
</script>